:host{
  position: absolute;
  top: 0px;
  left: 0px;
}

.btnOpen {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin-top: 10px;
  padding: 5px;
  transition: all 1s;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  background-color: rgb(102, 0, 255);
  span {
    display: none;
    font-size: 20px;
    animation: slideIn 1s;
  }
  &:hover {
    cursor: pointer;
    span {
      display: block;
    }
  }
}

.open {
  display: flex;
  flex-direction: column;
  animation: slideIn 2s forwards;
  width: 300px;
  gap: 20px;
  height: 100vh;
  background: rgb(99, 0, 255);
  background: linear-gradient(
    0deg,
    rgba(99, 0, 255, 1) 0%,
    rgba(150, 0, 255, 1) 100%
  );
  mat-icon {
    text-align: end;
    background-color: white;
    color: rgb(99, 0, 255);
    border: 2px solid white;
    padding: 5px;
    margin: 5px;
    margin-left: auto;
    border-radius: 100%;
  }
  mat-icon:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(150, 0, 255, 1);
  }
  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    gap: 10px;
    margin: auto;
    button{
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-radius: 20px;
      border: 0px solid;
      padding: 5px;
      font-size: 20px;
      mat-icon{
        margin: 0px;
      }
    }
  }
  &.close {
    animation: slideOf 2s forwards;
  }
}

.container-menu {
  display: flex;
  flex-direction: row;
}

@keyframes slideIn {
  0% {
    display: flex;
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    display: flex;
  }
}

@keyframes slideOf {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
    display: none;
  }
}
